/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */

@import "font-awesome";
@import "materialize/components/color";
@import "materialize";

@import "var";
@import "components";
@import "welcome";
@import "photographs";
@import "designs";
@import "programs"; 
@import "articles";


@import "bootstrap-sprockets";
@import "bootstrap";

body {
 	margin: 0;
 	padding: 0;
 	background-color: $white;
 	transition: .5s;
 	&.moveOn{
 		transition: .5s;
 		-webkit-transition: .5s;
 		transform: translate(0, -100vh);
		-webkit-transform: translate(0, -100vh);
 	}
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

* {
	font-family: "Lato Regular", "PingFang SC", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.waves-effect .waves-ripple {
	background-color: #B36B9D;
}
.waves-effect .waves-lightPink {
	background-color: #D880BD;
}

